{% extends "base.html" %}

{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "edublogspot" %}{% endif %}{% endblock %}

{% block meta_keywords %} {% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if page %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% else %}
{% trans "" %}
{% endif %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
{% if tag or category or year or month or author %}
<li>{% spaceless %}
{% if tag %}
    {% trans "Tag:" %} {{ tag }}
{% else %}{% if category %}
    {% trans "Category:" %} {{ category }}
{% else %}{% if year or month %}
    {% if month %}{{ month }}, {% endif %}{{ year }}
{% else %}{% if author %}
    {% trans "Author:" %} {{ author.get_full_name|default:author.username }}
{% endif %}{% endif %}{% endif %}{% endif %}
{% endspaceless %}
</li>
{% endif %}
{% endblock %}

{% block main %}

<div class="container">
    
    <section class="main-slider">
        <ul class="bxslider">
            <li><div class="slider-item"><img src="{{STATIC_URL}}images/edu5.jpg" title="" /><h2>Knowledge is Power</h2></div></li>
            <li><div class="slider-item"><img src="{{STATIC_URL}}images/edu7.jpg" title="" /><h2></h2></div></li>
            <li><div class="slider-item"><img src="{{STATIC_URL}}images/edu3.jpg" title="" /><h2></h2></div></li>
        </ul>
    </section>

<section>
    <div class="row">
        <div class="col-md-8">
            <article class="blog-post">
                {% for blog_post in blog_posts.object_list %}

                <div class="blog-post-image">
                {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
                {% block blog_post_list_post_featured_image %}
                <a href="{{ blog_post.get_absolute_url }}">
                <img class="img-thumbnail pull-left" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 750 400 %}">
                </a>
                {% endblock %}
                {% endif %}

                </div>
        <div class="blog-post-body">
                <h2><a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a></h2>
                <div class="post-meta"><span>by {% with blog_post.user as author %}
                    <a href="{% url "blog_post_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>
                    {% endwith %}
                </span>/<span><i class="fa fa-clock-o"></i>{% blocktrans with sometime=blog_post.publish_date %}{{ sometime }}{% endblocktrans %}
                {% if blog_post.allow_comments %}

                </span>/<span>{% if settings.COMMENTS_DISQUS_SHORTNAME %}
                    <i class="fa fa-comment-o"></i> <a href="{{ blog_post.get_absolute_url }}#disqus_thread"data-disqus-identifier="{% disqus_id_for blog_post %}"></a></span></div>
                    {% else %}
                <a href="{{ blog_post.get_absolute_url }}#comments">
                    {% blocktrans count comments_count=blog_post.comments_count %}{{ comments_count }} comment{% plural %}{{ comments_count }} comments{% endblocktrans %}
                 </a>
                 {% endif %}
                 {% endif %}

                <p>{% block blog_post_list_post_content %}
                    {% editable blog_post.content %}
                    {{ blog_post.description_from_content|safe|truncatewords:100 }}
                    {% endeditable %}
                    {% endblock %}
                </p>
                <div class="read-more"><a href="{{ blog_post.get_absolute_url }}">Continue Reading</a></div>
            </div>
            {% endfor %}
        </article>
    </div>


        <!-- article -->
    <div class="col-md-4 sidebar-gutter">
        <aside>
        <!-- sidebar-widget -->
                <!-- sidebar-widget -->
        <div class="sidebar-widget">
                {% block blog_recent_posts %}
                {% blog_recent_posts 5 as recent_posts %}
                {% if recent_posts %}
            <h3 class="sidebar-title">Featured Posts</h3>
            <div class="widget-container">
                    {% for recent_post in recent_posts %}

                <article class="widget-post">
                    <div class="post-image">
                        <a href="{{ recent_post.get_absolute_url }}">{% if settings.BLOG_USE_FEATURED_IMAGE and recent_post.featured_image %}
                                <img src="{{ MEDIA_URL }}{% thumbnail recent_post.featured_image 70 40 %}">
                                {% endif %}
                        </a>

                    </div>
                    <div class="post-body">
                        <h2><a href="{{ recent_post.get_absolute_url }}"> {{ recent_post.title }}</a></h2>
                        <div class="post-meta">
                                
                            <span><i class="fa fa-clock-o"></i></span> <span><a href="post.html"><i class="fa fa-comment-o"></i> </a></span>


                        </div>
                    </div>
                </article>
                {% endfor %}

            </div>
            {% endif %}
            {% endblock %}

        </div>
        <!-- sidebar-widget -->
        <div class="sidebar-widget">
            <h3 class="sidebar-title">Socials</h3>
            <div class="widget-container">
                <div class="widget-socials">
                    <a href="https://www.facebook.com/vincent.obodoma"><i class="fa fa-facebook-square" title="facebook"></i></a>
                    <a href="https://twitter.com/vingeophysicist"><i class="fa fa-twitter-square" title="twitter"></i></a>
                    <a href="https://www.instagram.com/sirvinprogramming/"><i class="fa fa-instagram" title="instagram" ></i></a>
                    <a href="https://www.youtube.com/channel/UCRF7Ue8ghpKRXUqVKf3N17w?view_as=subscriber"><i class="fa fa-youtube-square" title="youtube"></i></a>
                    <a href="https://github.com/vingeophysicist"><i class="fa fa-github-square" title="github"></i></a>
                    <a href="https://www.linkedin.com/in/vincent-obodoma-3353b9114/"><i class="fa fa-linkedin-square" title="linkiden"></i></a>
                </div>
            </div>
        </div>
        <!-- sidebar-widget -->
            <div class="sidebar-widget">
                <h3 class="sidebar-title">Grouping</h3>
                <div class="widget-container">

                <ul> 
                    {% blog_categories as categories %}
                    {% if categories %}
                    {% for category in categories %}
                    <li>
                        <a href="{% url "blog_post_list_category" category.slug %}"
                        >{{ category }}
                        </a> ({{ category.post_count }})                   
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <div class="sidebar-widget">
                <h3 class="sidebar-title">ARCHIVES</h3>
                <div class="widget-container">
                {% block blog_months %}
                {% blog_months as months %}
                {% if months %}
                        
                <ul>
                        {% for month in months %}
                        {% ifchanged month.date.year %}
                        {% if not forloop.first %}</ul>{% endif %}
                        <h6>{{ month.date.year }}</h6><ul class="list-unstyled">
                                {% endifchanged %} 
                        
                    <li>
                        <a href="{% url "blog_post_list_month" year=month.date.year month=month.date.month %}"
                        >{{ month.date|date:"F" }}
                        </a> ({{ month.post_count }})
                        {% endfor %}
                  
                    </li>
                    {% endif %}
                    {% endblock %}

                </ul>
            </div>
        </div>
        </div>
        </aside>
    </div>
</div>
</section>
</div><!-- /.container -->

{% pagination_for blog_posts %}

{% if settings.COMMENTS_DISQUS_SHORTNAME %}
{% include "generic/includes/disqus_counts.html" %}
{% endif %}

{% endblock %}

{% block right_panel %}
{% include "blog/includes/filter_panel.html" %}
{% endblock %}






