{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}
{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n disqus_tags %}



{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% endblock %}

{% block main %}


    

{% endblock %}
